.svn/

*.Makefile
*.gypcmd
*.mk
*.ncb
*.ninja
*.opensdf
*.props
*.pyc
*.rules
*.sdf
*.sln
*.suo
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*_proto.xml
*_proto_cpp.xml
*~
!Android.mk
.*.sw?
.DS_Store
.classpath
.cproject
.gdb_history
.gdbinit
.metadata
.project
.pydevproject
# Settings directory for eclipse
/.settings
tags
Thumbs.db
v8.log
/Makefile
/_out
/ash/resources/google_wallpapers/
/build/Debug
/build/Release
/build/ipch/
/build/util/LASTCHANGE
/build/util/support
/build/x64/
# The Chrome OS build creates a /c symlink due to http://crbug.com/54866.
/c
/ceee/internal/
/chrome/Hammer
/chrome/app/policy/cloud_policy_backend_header_compile.xml
/chrome/app/policy/cloud_policy_proto_compile.xml
/chrome/app/theme/default_100_percent/google_chrome
/chrome/app/theme/default_200_percent/google_chrome
/chrome/app/theme/google_chrome
/chrome/browser/autofill/internal
/chrome/browser/extensions/default_extensions/chromeos
/chrome/browser/google/linkdoctor_internal
/chrome/browser/intents/internal/
/chrome/browser/performance_monitor/performance_monitor.xml
/chrome/browser/protector/internal
/chrome/browser/resources/software_rendering_list
/chrome/browser/spellchecker/internal
/chrome/chrome_version_resources.xml
/chrome/common/extensions/api/api.xml
/chrome/installer/linux
/chrome/installer/mac/internal
/chrome/installer/mini_installer.xml
/chrome/installer/mini_installer/mini_installer.aps
/chrome/installer/mini_installer/support
/chrome/installer/mini_installer_syzygy.xml
/chrome/installer_util_strings.xml
/chrome/setup.xml
/chrome/setup_unittests.xml
/chrome/supplement.gypi
/chrome/test/chromeos/autotest/files/client/deps/chrome_test/test_src/
/chrome/test/chromeos/autotest/files/client/deps/pyauto_dep/test_src/
/chrome/test/data/firefox2_profile/searchplugins
/chrome/test/data/firefox2_searchplugins
/chrome/test/data/firefox3_profile/searchplugins
/chrome/test/data/firefox3_searchplugins
/chrome/test/data/gpu/vectortown_endurance/
/chrome/test/data/gpu/vt/
/chrome/test/data/layout_tests
/chrome/test/data/osdd
/chrome/test/data/perf/frame_rate/private
/chrome/test/data/perf/private/
/chrome/test/data/plugin/
/chrome/test/data/pyauto_private
/chrome/tools/memory
/chrome/tools/test/reference_build
/chrome_frame/chrome_frame_ie.xml
/chrome_frame/tools/test/reference_build
/content/test/data/plugin/
/data
/delegate_execute
/google_apis/internal
/gpu/gles2_conform_test
/gyp-mac-tool
/hideout
/llvm
/media/test/data/content
/media/test/data/security
/media/yuv_convert_simd_x86.xml
/metro_driver
/net/Debug
/net/Release
/net/testserver.log
/out
/out_*
/pdf
/ppapi/native_client/nacl_irt.xml
/ppapi/native_client/ppapi_lib.xml
/ppapi/native_client/src/shared/ppapi_proxy/nacl_ppapi_browser.xml
/ppapi/native_client/src/shared/ppapi_proxy/ppruntime_lib.xml
/ppapi/native_client/src/trusted/plugin/ppGoogleNaClPluginChrome.xml
/remoting/appengine/
/remoting/host/installer/linux/internal/
/remoting/proto/chromotocol_proto_lib.xml
/remoting/proto/trace_proto_lib.xml
/remoting/remoting_elevated_controller.xml
/remoting/remoting_host_event_logger.xml
/remoting/remoting_host_installation.xml
/remoting/remoting_host_installation_unittest.xml
/remoting/remoting_me2me_host.xml
/remoting/remoting_version_resources.xml
/remoting/tools/internal/
/seccompsandbox
/testing/iossim/third_party/
/testserver.log
/third_party/libphonenumber/libphonenumber.xml
/third_party/libphonenumber/libphonenumber_without_metadata.xml
/third_party/yasm/generate_files.xml
/third_party/yasm/yasm.xml
/tools/distcc
/tools/histograms
/tools/json_schema_compiler/test/json_schema_compiler_tests.xml
/tools/perf/data
/tools/tryserver
/tools/win/link_limiter/build
/ui/resources/aura/google_wallpapers
/webkit/Debug
/webkit/Release
/webkit/data/bmp_decoder
/webkit/data/ico_decoder
/webkit/data/layout_tests/LayoutTests
/webkit/data/test_shell/plugins
/webkit/data/xbm_decoder
/webpagereplay_logs/
/x86-generic_out/
/xcodebuild
